<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>

    <form action = "iniciar-sesion" method = "POST">

        Teléfono: <input type="text" name="telefono" required>
        Contraseña: <input type="password" name="password" required>

        <input type="submit" value="Iniciar sesión">    
    
<p>¿No tienes cuenta? <a href="/">Registrarse</a></p>   

    </form>

</body>
</html>